@namespace LitExplore.UI.Pages.Authorized.Home.Components.Graph

@using LitExplore.Controllers.Graph

<div class="relative h-full w-11/12">
  @foreach (var node in graph.GetNodes())
  {
    <DynamicRelationedNode node=@node.ToVisual()></DynamicRelationedNode>
  }
</div>

@code {
  [Parameter]
  public VisualGraph graph { get; set; } = null!; 
}