@namespace LitExplore.UI.Pages.Authorized.Home.Components.Graph

@using LitExplore.Controllers.Graph

<div class="">
  <p>@node.Node.References.Count</p>
</div>

@code {
  [Parameter]
  public VisualGraphRelationNode node { get; set; }

}