@namespace LitExplore.UI.Pages.Authorized.Home.Components.Graph

@using LitExplore.Controllers.Graph

<div class="absolute w-full h-full">
  <svg
    width="100%" height="100%"
    x="100%" y="100%"
  >
    @foreach (var relation in relations)
    {
      <line
        x1="@GraphUtil.GetPercentage(_node.Point.x)%"
        y1="@GraphUtil.GetPercentage(_node.Point.y)%"
        x2="@GraphUtil.GetPercentage(relation.Point.x)%"
        y2="@GraphUtil.GetPercentage(relation.Point.y)%"
        shape-rendering="geometricPrecision"
        stroke="white"
        stroke-width="2"
      />
    }
  </svg>
</div>


@code {

  [Parameter]
  public VisualGraphRelationNode node {
    get { return _node; }
    set {

      var pubTitles = value.Children.Select(r => r.Details.Title).ToList();
     
      _node = value;
      
      var containsAny =
        (List<string> l0, List<string> l1)
          => l0.Aggregate(
            false,
            (a, c) => l1.Contains(c) || a,
            v => v
          );

      relations = value.Relations
        .Where(
          rel => containsAny(
            value.Children.Select(r => r.Details.Title).ToList(),
            rel.node.Children.Select(r => r.Details.Title).ToList()
          )
        )
        .Select(
          rel => rel.node
        )
        .ToList();
    }
  }

  protected override void OnInitialized() {
    GraphUtil.AddSub(() => StateHasChanged());
  }

  private VisualGraphRelationNode _node = null!;

  private List<VisualGraphNode> relations = null!;


}