
@page "/graph"

@namespace LitExplore.UI.Authorized.Home

@using LitExplore.UI.Pages.Authorized.Home.Components

<PageTitle>LitExplore - Home</PageTitle>

<div class="flex flex-col h-screen bg-gray-700">
  <TopBarComponent />

  <FilterHistory />

  <div class="flex w-full h-full">
    <FilterSettings></FilterSettings>
    <GraphVisualizer></GraphVisualizer>
  </div>

</div>