
@namespace LitExplore.UI.Pages.Shared

<button
  onclick="@InvokeOnClick"
  disabled="@disabled"
  class="w-48 h-12 bg-white bg-blue-600 text-white text-lg shadow-white tracking-wider"
>
  @Text
</button>

@code {
  [Parameter] public string Text { get; init; }

  [Parameter] public Action Clicked { get; init; } = () => {};

  private bool disabled { get; set; }

  private async void InvokeOnClick()
  {
    disabled = true;
    
    Clicked.Invoke();

    disabled = false;
  }
}
