
@namespace LitExplore.Pages.Shared

<div class="border-2 border-white rounded-lg">
  <div class="flex bg-blue-700 justify-center text-3xl pl-2 border-4 border-black rounded-lg">
    <div class="mr-2 font-normal text-white">Project</div>
    <div class="font-semibold bg-black text-white px-2 pl-3 pb-1 rounded tracking-wider">LitExplore</div>
  </div>
</div>