@using Microsoft.AspNetCore.Components.Web
@namespace LitExplore.Client.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/LitExplore" />
    <link rel="stylesheet" href="~/css/site.css">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <LitExplore.Pages.Error.ErrorComponent
        id="blazor-error-ui"
    ></LitExplore.Pages.Error.ErrorComponent>

    

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
