
@namespace LitExplore.UI.Pages.Authorized.Home.Components

@using LitExplore.UI.Pages.Shared


<!-- Top bar -->
<div class="flex justify-between px-8 py-3 bg-gray-800 border-b-2 border-blue-900">

  <div class="grid grid-cols-3 gap-4">
    <LitButton Text="New" Clicked="@NewGraph" />
    <LitButton Text="Reset" Clicked="@NewGraph" />
    <LitButton Text="Add" Clicked="@NewGraph" />
  </div>

  <!-- Logo to the right -->
  <div>
    <LogoComponent></LogoComponent>
  </div>
</div>


@code {
  public Action NewGraph => () => NewEvent.Notify();
}