
@namespace LitExplore.Client.Authorized.Home.Components

<div class="text-xl tracking-widest align-text-bottom mx-1">
  @Text
  @Seperator
</div>

@code {
  [Parameter] public string Text { get; init; }
  [Parameter] public string Seperator { get; init; }
}