
@page "/home"

@namespace LitExplore.Client.Authorized.Home

@using LitExplore.Client.Authorized.Home.Components

<PageTitle>LitExplore - Home</PageTitle>

<div class="h-screen bg-gray-700">
  <TopBarComponent />

  <FilterHistory />

  <FilterSettings></FilterSettings>
</div>