
@namespace LitExplore.Authorized.Home.Components

@using LitExplore.Pages.Shared


<!-- Top bar -->
<div class="flex justify-between px-8 py-3 bg-gray-800 border-b-2 border-blue-900">

  <div class="grid grid-cols-3 gap-4">
    <LitButton Text="New" />
    <LitButton Text="Reset" />
    <LitButton Text="Add" />
  </div>

  <!-- Logo to the right -->
  <div>
    <LogoComponent></LogoComponent>
  </div>
</div>


@code {
// Clicked="" 
}